

header {
    text-align: center;
    background-color: #111720;
    color: yellow;
    margin: 0px 0px 0px 0px;
    padding: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

main {
    text-align: center;
    background-color:  #222831;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #ddd;
    font-size: 32px;
}

h3 {
    color: #ddd;
    font-size: 20px;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-choice-display, .computer-choice-display {
    font-size: 76px;
}

.score-box {
    padding: 20px;
}

.choice-buttons-row {
    padding: 20px;
}

.choice-button {
    padding: 20px;
    margin: 20px;
    background-color: #222831;
}


footer {
    color: white;
}


